<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>新疆沃茨流体控制设备有限公司-关于我们</title>
    <meta name="keywords" content="新疆沃茨，沃茨，套筒式调节阀，固定锥形消能阀，调节阀，减压阀，蝶阀，固定锥形阀，闸阀，水泵控制阀，流体控制设备，多喷孔套筒式减压阀，调流消能阀，套筒式多喷孔减压阀" />
    <meta name="description" content="新疆沃茨流体控制设备有限公司是一家特种阀门生产和销售公司,产品包括调节阀、蝶阀、闸阀、止回阀、水泵控制阀等" />
    
    <!-- Bootstrap -->
    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fxlovely.css" rel="stylesheet">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	  <span class="sr-only">导航栏折叠</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	
	<a class="navbar-brand" href="{{url_for('index')}}">
	  <img alt="新疆沃茨" class="img-responsive" src="/static/templatemo_logo_watts.png">
	</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right navbar-right-profile">
	  <li><a href="{{url_for('index')}}">网站首页 <span class="sr-only">(current)</span></a></li>
	  <li class="active"><a href="{{url_for('about')}}">关于我们</a></li>
	  <li><a href="{{url_for('news')}}">新闻资讯</a></li>
	  <li><a href="{{url_for('products')}}">产品中心</a></li>
	  <li><a href="{{url_for('sales')}}">销售业绩</a></li>
	  <li><a href="{{url_for('hr')}}">人才招聘</a></li>
	  <li><a href="{{url_for('contact')}}">联系我们</a></li>
	</ul>
      </div>
    </nav>
    
    <div class="jumbotron alert alert-info">
      <div class="container">
        <img src="/static/images/watts_header_1.png" class="img-responsive show-hidden" alt="关于我们">
        <button type="button" class="btn btn-warning btn-lg pull-right hidden-show">关于我们</button>
      </div>
    </div>
    
    <div class="container" style="padding-top: 20px">
      <div class="row">
	<div class="col-sm-8">
	  <div>
	    <h2 class="page-header color-header">企业简介</h2>
	    <img src="/static/images/watts_2.jpg" alt="新疆沃茨" class="img-thumbnail pull-right">
	    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新疆沃茨流体控制设备有限公司 是一家专门制造和销售各种调节阀、蝶阀、闸阀、止回阀、水泵控制阀等流体控制设备产品的公司。
	      我们一贯坚持“团结拼搏，追求卓越”的企业精神和“依靠公司高质量服务占领市场”的科学经营理念，使公司持续不断地发展。
	      多年以来，在国家重点工程、新疆各大供水、供电、供热、空调、给排水、石化、环保、污水处理工程中赢得很高的信誉。</p>
	    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全方位满足客户的需求是我们生存的基础;寻求持续改进是我们从事每一项工作的原动力。
	    新疆沃茨将以“质量第一、服务第一”为经营宗旨， 不断提高售后服务人员的技术水平、服务水准， 
	    以产品整体优势、交货及时、售后服务全面满足用户需要，竭诚欢迎新老用户光临指导，并开展卓有成效的合作。</p>
	    <img src="/static/images/watts_1.png" alt="新疆沃茨" class="img-thumbnail pull-left">
	    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新疆沃茨曾经参与过新疆大西沟管道引水工程调流消能阀项目、新疆玛纳斯电厂三期扩建工程2×300MW扩建工程、哈密天光发电厂2×135MW、
	    新疆华电吐鲁番发电有限公司2×125MW机组工程、 新疆天富热电股份有限公司2×50MW扩建工程、塔什店火电厂、乌石化电厂、 新疆恰甫其海水利枢纽工程、
	    乌市热力公司、乌市热力总公司南区热网工程、 伊宁热力公司、石河子热力公司、石河子热电厂、奎屯热力公司、库尔勒热力公司、 新疆石油局供热公司、
	    克拉玛依市引水工程、石河子污水处理厂、 乌鲁木齐市自来水公司20万吨水厂、 乌鲁木齐河东污水处理厂、乌石化总厂三聚氢胺项目等大中型工程的建设。</p>
	  </div>
	  
	  <div>
	    <h2 class="page-header color-header">我们的团队</h2>
	    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在新疆沃茨流体控制设备有限公司在阀门等流体控制设备产品领域已已经积累了丰富的经验，我们以技术创新为企业发展的核心竞争力，
	    公司技术力量雄厚，在公司多年的运营中始终秉承“质量第一、服务第一” 的理念，以全方位满足客户的需求作为我们生存的基础。
	    每一个新疆沃茨人都始终坚持着“团结拼搏、追求卓越”的企业精神，为满足每一位客户的需求而不断努力。</p>
	    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经过多年的拼搏，新疆沃茨流体控制设备有限公司已经形成了集设计、研发、生产、销售以及售后为一体的综合流体控制设备供应厂家，公司已具备完善的组织机构。</p>
	    <img src="/static/images/组织结构.png" alt="新疆沃茨" class="img-responsive img-thumbnail center-block">
	  </div>
	</div>
	<div class="col-sm-3 col-sm-offset-1 hidden-xs">
	  <div class="page-header">
	    <h3 class="page-header color-header">我们的承诺</h3>
	    <div class="alert alert-info">
	    <dl>
	      <dt>我们承诺发货准时</dt>
	      <dd>根据合同规定，保证按期准时向客户交付产品</dd>
	      <hr>
	      <dt>我们承诺提供优质产品</dt>
	      <dd>根据客户的要求进行生产、测试、检验并配合客户对产品进行验收，确保品质</dd>
	      <hr>
	      <dt>我们承诺价格具有竞争力</dt>
	      <dd>在保证产品质量的前提下向客户提供最优惠的阀门产品</dd>
	      <hr>
	      <dt>我们承诺满足客户的需求</dt>
	      <dd>根据客户需求或协议及时提供备品、备件和安装、调试、维修服务</dd>
	    </dl>
	    </div>
	  </div>
	  
	  <div class="alert alert-info" style="background-color: #CCFFFF">
	    <h3 class="page-header">联系方式</h3>
	    <address>
	      <a href="{{url_for('contact')}}"><strong>新疆沃茨流体控制设备有限公司</strong></a></br>
	      <abbr title="Address">地址:</abbr> 乌鲁木齐黄河路2号</br>
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;招商银行大厦12楼C座</br>
	      <abbr title="Zip">邮编:</abbr> 830000</br>
	      <abbr title="Phone">电话:</abbr> 0991-5506008</br>
	      <abbr title="Fax">传真:</abbr> 0991-5506009</br>
	    </address>
	  </div>
	</div>
      </div>
    </div>
    
    <footer class="footer footer-fixed">
      <div class="container">
        <p class="text-muted">Copyright © 2014 <a href="{{url_for('index')}}">新疆沃茨流体控制设备有限公司</a> | <a href="http://ym.163.com">邮箱登陆</a> | <a href="{{url_for('manage')}}">网站管理</a>
	  {% if g.user.is_authenticated()%}
	    <a href="/logout"> | 退出登录</a>
	    {% if userx == 0 %}
                root
            {% elif userx == 1 %}
                xjwatts
            {% elif userx == 2 %}
                xjwatts.ct
            {% elif userx == 3 %}
                xjwatts.lyj
            {% endif %}
	  {% endif %}
        </p>
      </div>
    </footer>
  </body>
</html>