<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>新疆沃茨流体控制设备有限公司-新闻资讯</title>
    <meta name="keywords" content="新疆沃茨，沃茨，套筒式调节阀，固定锥形消能阀，调节阀，减压阀，蝶阀，固定锥形阀，闸阀，水泵控制阀，流体控制设备，多喷孔套筒式减压阀，调流消能阀，套筒式多喷孔减压阀" />
    <meta name="description" content="新疆沃茨流体控制设备有限公司是一家特种阀门生产和销售公司,产品包括调节阀、蝶阀、闸阀、止回阀、水泵控制阀等" />
    
    <!-- Bootstrap -->
    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fxlovely.css" rel="stylesheet">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	  <span class="sr-only">导航栏折叠</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	
	<a class="navbar-brand" href="{{url_for('index')}}">
	  <img alt="新疆沃茨" class="img-responsive" src="/static/templatemo_logo_watts.png">
	</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right navbar-right-profile">
	  <li><a href="{{url_for('index')}}">网站首页 <span class="sr-only">(current)</span></a></li>
	  <li><a href="{{url_for('about')}}">关于我们</a></li>
	  <li class="active"><a href="{{url_for('news')}}">新闻资讯</a></li>
	  <li><a href="{{url_for('products')}}">产品中心</a></li>
	  <li><a href="{{url_for('sales')}}">销售业绩</a></li>
	  <li><a href="{{url_for('hr')}}">人才招聘</a></li>
	  <li><a href="{{url_for('contact')}}">联系我们</a></li>
	</ul>
      </div>
    </nav>
    
    <div class="jumbotron alert alert-info">
      <div class="container">
        <img src="/static/images/watts_header_2.png" class="img-responsive show-hidden" alt="新闻资讯">
        <button type="button" class="btn btn-warning btn-lg pull-right hidden-show">新闻资讯</button>
      </div>
    </div>
    
    <div class="container" style="padding-top: 20px">
      <div class="row">
	<div class="col-sm-8">
	    <h2 class="page-header color-header">新闻资讯</h2>
	      <h3>{{news2.title}}</h3>
	      {% if news2.pic1 != None %}
		<img alt="新闻图片1" class="img-responsive img-thumbnail" src="{{ news2.pic1 }}">
	      {% endif %}
	      {% if news2.pic2 != None %}
		<img alt="新闻图片2" class="img-responsive img-thumbnail" src="{{ news2.pic2 }}">
	      {% endif %}
	      {% if news2.pic3 != None %}
		<img alt="新闻图片3" class="img-responsive img-thumbnail" src="{{ news2.pic3 }}">
	      {% endif %}
	      <p>{{ news2.text }}</p>
	      <a class="btn btn-sm btn-primary pull-right" href="{{url_for('news')}}"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> <strong>返回</strong></a>
	</div>
	<div class="col-sm-3 col-sm-offset-1 hidden-xs">
	  <div class="page-header">
	    <h3 class="page-header color-header">新闻资讯列表</h3>
	      <ul class="list-group">
		{% for news_h in news1[:7] %}
		<a class="list-group-item over_flow {{ 'active' if news_h.id == news2.id }}" href="{{ url_for('news_detail', news_id = news_h.id) }}">
		  {{ news_h.title }}
		</a>
		{% endfor %}
		{% if news1|length > 7 %}
		  <div class="collapse" id="news-more">
		    {% for news_h in news1[7:]%}
		      <a class="list-group-item over_flow {{ 'active' if news_h.id == news2.id }}" href="{{ url_for('news_detail', news_id = news_h.id) }}">{{ news_h.title }}</a>
		    {% endfor %}
		  </div>
		  <a class="list-group-item" href="#news-more" data-toggle="collapse">查看更多...</a>
		{% endif %}
	      </ul>
	 </div>
	  
	  <div class="alert alert-info" style="background-color: #CCFFFF">
	    <h3 class="page-header">联系方式</h3>
	    <address>
	      <a href="{{url_for('contact')}}"><strong>新疆沃茨流体控制设备有限公司</strong></a></br>
	      <abbr title="Address">地址:</abbr> 乌鲁木齐黄河路2号</br>
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;招商银行大厦12楼C座</br>
	      <abbr title="Zip">邮编:</abbr> 830000</br>
	      <abbr title="Phone">电话:</abbr> 0991-5506008</br>
	      <abbr title="Fax">传真:</abbr> 0991-5506009</br>
	    </address>
	  </div>
	</div>
      </div>
    </div>
    
    <footer class="footer footer-fixed">
      <div class="container">
        <p class="text-muted">Copyright © 2014 <a href="{{url_for('index')}}">新疆沃茨流体控制设备有限公司</a> | <a href="http://ym.163.com">邮箱登陆</a> | <a href="{{url_for('manage')}}">网站管理</a>
	  {% if g.user.is_authenticated()%}
	    <a href="/logout"> | 退出登录</a>
	    {% if userx == 0 %}
                root
            {% elif userx == 1 %}
                xjwatts
            {% elif userx == 2 %}
                xjwatts.ct
            {% elif userx == 3 %}
                xjwatts.lyj
            {% endif %}
	  {% endif %}
        </p>
      </div>
    </footer>
  </body>
</html>