<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>新疆沃茨流体控制设备有限公司-产品中心</title>
    <meta name="keywords" content="新疆沃茨，沃茨，套筒式调节阀，固定锥形消能阀，调节阀，减压阀，蝶阀，固定锥形阀，闸阀，水泵控制阀，流体控制设备，多喷孔套筒式减压阀，调流消能阀，套筒式多喷孔减压阀" />
    <meta name="description" content="新疆沃茨流体控制设备有限公司是一家特种阀门生产和销售公司,产品包括调节阀、蝶阀、闸阀、止回阀、水泵控制阀等" />
    
    <!-- Bootstrap -->
    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fxlovely.css" rel="stylesheet">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	  <span class="sr-only">导航栏折叠</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	
	<a class="navbar-brand" href="{{url_for('index')}}">
	  <img alt="新疆沃茨" class="img-responsive" src="/static/templatemo_logo_watts.png">
	</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right navbar-right-profile">
	  <li><a href="{{url_for('index')}}">网站首页 <span class="sr-only">(current)</span></a></li>
	  <li><a href="{{url_for('about')}}">关于我们</a></li>
	  <li><a href="{{url_for('news')}}">新闻资讯</a></li>
	  <li class="active"><a href="{{url_for('products')}}">产品中心</a></li>
	  <li><a href="{{url_for('sales')}}">销售业绩</a></li>
	  <li><a href="{{url_for('hr')}}">人才招聘</a></li>
	  <li><a href="{{url_for('contact')}}">联系我们</a></li>
	</ul>
      </div>
    </nav>
    
    <div class="jumbotron alert alert-info">
      <div class="container">
        <img src="/static/images/watts_header_3.png" class="img-responsive show-hidden" alt="产品介绍">
        <button type="button" class="btn btn-warning btn-lg pull-right hidden-show">产品介绍</button>
      </div>
    </div>
    
    <div class="container" style="padding-top: 20px">
      <div class="row">
	<div class="col-sm-9">
	  <h2 class="page-header color-header">产品中心</h2>
	    {% for p_item in productsx[(page_id-1)*6:page_id*6] %}
	    <div class="col-sm-4">
	      <img src="{{ p_item.pic1 }}" class="img-circle img-responsive center-block" alt="{{ p_item.title }}" style="height:190px; width:190px">
	      <h4 class="text-center">{{ p_item.title }}</h4>
	      <p><a href="{{url_for('products_detail', products_id = p_item.id )}}" class="btn btn-sm btn-default center-block" role="button">详细介绍>></a></p>
	      <hr>
	    </div>
	  {% endfor %}
	  
	  <nav class="col-sm-12 {{ 'hi_manage' if (productsx[::6]|length) <= 1}}">
	    <ul class="pagination">
	      <li class="{{ 'disabled' if page_id-1 <= 0 }}"><a href="{{url_for('products_page', page_id = page_id -1)}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
	      {% for p_page in range(productsx[::6]|length) %}
		<li class="{{ 'active' if p_page == page_id-1 }}"><a href="{{url_for('products_page', page_id = p_page+1)}}">{{ p_page + 1 }}<span class="sr-only">(current)</span></a></li>
	      {% endfor %}
	      <li class="{{ 'disabled' if page_id+1 > productsx[::6]|length }}"><a href="{{url_for('products_page', page_id = page_id + 1)}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	    </ul>
	  </nav>
	  
	</div>
	
	<div class="col-md-3 hidden-xs">
	  <div class="page-header">
	    <h3 class="page-header color-header">产品介绍</h3>
	    <div class="panel-group" id="accordion">
	      <div class="panel panel-default">
	      <a class="list-group-item" data-target="#product1" data-toggle="collapse" data-parent="#accordion">
	      套筒式多喷孔减压阀</a>
	      	<ul id="product1" class="collapse">
		  {% for product1 in productsx %}
		    {% if product1.item == 'A' %}
		      <li><a href="{{url_for('products_detail', products_id = product1.id )}}">{{ product1.title }}</a></li>
		    {% endif %}
		  {% endfor %}
		</ul>
		</div>
	      
	      <div class="panel panel-default">
	      <a class="list-group-item" data-target="#product2" data-toggle="collapse" data-parent="#accordion">
	      固定锥形消能阀</a>
		<ul id="product2" class="collapse">
		  {% for product2 in productsx %}
		    {% if product2.item == 'B' %}
		      <li><a href="{{url_for('products_detail', products_id = product2.id )}}">{{ product2.title }}</a></li>
		    {% endif %}
		  {% endfor %}
		</ul>
		</div>
		
	      <div class="panel pane-default">
	      <a class="list-group-item" data-target="#product3" data-toggle="collapse" data-parent="#accordion">
	      蝶阀系列</a>
		<ul id="product3" class="collapse">
		  {% for product3 in productsx %}
		    {% if product3.item == 'C' %}
		      <li><a href="{{url_for('products_detail', products_id = product3.id )}}">{{ product3.title }}</a></li>
		    {% endif %}
		  {% endfor %}
		</ul>
		</div>
	
	      <div class="panel panel-group">
	      <a class="list-group-item" data-target="#product4" data-toggle="collapse" data-parent="#accordion">
	      闸阀/止回阀/水泵控制阀</a>
		<ul id="product4" class="collapse">
		  {% for product4 in productsx %}
		    {% if product4.item == 'D' %}
		      <li><a href="{{url_for('products_detail', products_id = product4.id )}}">{{ product4.title }}</a></li>
		    {% endif %}
		  {% endfor %}
		</ul>
		</div>

	      <div class="panel panel-group">
	      <a class="list-group-item" data-target="#product5" data-toggle="collapse" data-parent="#accordion">
	      阀门配件</a>
		<ul id="product5" class="collapse">
		  {% for product5 in productsx %}
		    {% if product5.item == 'E' %}
		      <li><a href="{{url_for('products_detail', products_id = product5.id )}}">{{ product5.title }}</a></li>
		    {% endif %}
		  {% endfor %}
		</ul>
		</div>

	    </div>
	</div>
	
	<div class="alert alert-info" style="background-color: #CCFFFF">
	    <h3 class="page-header">联系方式</h3>
	    <address>
	      <a href="{{url_for('contact')}}"><strong>新疆沃茨流体控制设备有限公司</strong></a></br>
	      <abbr title="Address">地址:</abbr> 乌鲁木齐黄河路2号</br>
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;招商银行大厦12楼C座</br>
	      <abbr title="Zip">邮编:</abbr> 830000</br>
	      <abbr title="Phone">电话:</abbr> 0991-5506008</br>
	      <abbr title="Fax">传真:</abbr> 0991-5506009</br>
	    </address>
	  </div>
	</div>
      </div>
      
    </div>
    
    <footer class="footer footer-fixed">
      <div class="container">
        <p class="text-muted">Copyright © 2014 <a href="{{url_for('index')}}">新疆沃茨流体控制设备有限公司</a> | <a href="http://ym.163.com">邮箱登陆</a> | <a href="{{url_for('manage')}}">网站管理</a>
	  {% if g.user.is_authenticated()%}
	    <a href="/logout"> | 退出登录</a>
	    {% if userx == 0 %}
                root
            {% elif userx == 1 %}
                xjwatts
            {% elif userx == 2 %}
                xjwatts.ct
            {% elif userx == 3 %}
                xjwatts.lyj
            {% endif %}
	  {% endif %}
        </p>
      </div>
    </footer>
  </body>
</html>